

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    
      <!-- <style>
        dprop{
            background-color: ;
        }

      </style> -->


</head>

    
<body >
   
        
         
       
    
    <div style="display: flex;justify-content: center;">
        <h2 style="text-decoration: underline; text-decoration-thickness: 1.6px;">Patient Form</h2>
    </div>
    <div style="padding: 1.5% 15% 0 15%;">
        <div class="dprop" >
        <form id='contactForm' action="{% if instance and instance.id%}{% url 'update' pk=instance.id %}
        {% else %}{% url 'save' %}{% endif %}"  method="post" class="mb-3" style=" justify-content: center; background-color: #f2f2f2; align-items: center;border: 2px solid black;">
        <div style="padding: 60px;">

      
        {% csrf_token %}
            <div class="form-group">
                {{form.as_p}}
            </div>
            <button type="submit" class="btn btn-primary" >{% if instance %}save Changes{% else %}Create Data{% endif %}</button>
        </form>
        </form>
        </div>
        
    </div>
    </div>
</body>
</html>
